<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to WiFi information to enable local network switching</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need access to WiFi information to enable local network switching</string>
</dict>
</plist>
